<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>New Project</title>
		
		<script src="components/webcomponentsjs/webcomponents.js"></script>
		<link rel="import" href="components/polymer/polymer.html">
		<link rel="import" href="components/font-roboto/roboto.html">
		<link rel="import" href="components/paper-elements/paper-elements.html">
		<link rel="import" href="components/core-scaffold/core-scaffold.html">
		<link rel="import" href="components/core-toolbar/core-toolbar.html">
		<link rel="import" href="components/core-menu/core-menu.html">
		<link rel="import" href="components/core-item/core-item.html">
		<link rel="import" href="components/core-animated-pages/core-animated-pages.html">
		<link rel="import" href="components/core-overlay/core-overlay.html">
		<link rel="import" href="components/core-header-panel/core-header-panel.html">
		<link rel="import" href="components/core-transition/core-transition.html">
		<link rel="import" href="components/paper-toast/paper-toast.html">
		<link rel="import" href="components/core-icons/social-icons.html">
		<link rel="import" href="components/core-icons/communication-icons.html">
		<!-- <link rel="import" href="components/paper-fab/paper-fab.html"> -->
		
		<!-- <script src="js/jquery.min.js"></script>
		<script src="js/utils/Event.js"></script>
		<script src="js/utils/Utils.js"></script>
		<script src="js/utils/jquery.timeago.js"></script>
		<script src="js/classes/Ticket.js"></script>
		<script src="js/app.js"></script> -->

		<script src="http://localhost:8081/socket.io/socket.io.js"></script>
		<script src="js/base.js"></script>
		<script src="js/deps.js"></script>
		<script src="js/boot.js"></script>

		<link rel="stylesheet" href="css/style.css">
	</head>
	<body unresolved fullbleed layout vertical>

		  <div class="load-overlay">
				<div class="loader">
					<md-progress-circular class="fix" md-mode="indeterminate"></md-progress-circular>
					<span>Carregando</span>
				</div>
		  </div>

		<core-scaffold>
			<core-header-panel navigation flex mode="seamed">
				<core-toolbar class="core-toolbar-style">Menu</core-toolbar>
				<core-menu></core-menu>
			</core-header-panel>
			<div tool>
				<span id="activePageTitle"></span>
				<div class="paper-icon-group right">
					<paper-icon-button icon="add" ng-click="createTicket()"></paper-icon-button>
					<paper-icon-button icon="filter-list" ng-click="toggleFilterForm()"></paper-icon-button>
				</div>
			</div>

			<div fit>
				<paper-toast text="" duration="7000" autoCloseDisabled="true" ng-click="discardDraft($event)">
				<!-- <div style="color: yellow;">desfazer</div> -->
				</paper-toast>

				<!-- <paper-fab icon="add"></paper-fab> -->

				<core-animated-pages transitions="cross-fade">

				<section id="page1">
					<div class="container" flex cross-fade>
				</section>

				<section id="page2">
					<div class="container" flex cross-fade>
				</section>

				<section id="page3">
					<div class="container" flex cross-fade>
				</section>

				<section id="page4">
				<div class="container" flex cross-fade>
				</section>

				<section id="page5">
				<div class="container" flex cross-fade>
				</section>

				<section id='page6'>
				<div class="container" flex cross-fade>
				</section>

				<section id="page7">
					<div class="container" cross-fade>
						<card flex ng-repeat="notification in notifications | orderBy: '-time':false">
							<card-body>
							<p>{{notification.note}} por {{notification.owner}} - <span class="text-muted">{{notification.time | date: 'HH:mm' }} em {{notification.time | date: 'dd/MM/yyyy'}}</span></p>
							</card-body>
						</card>
					</div>
				</section>

				</core-animated-pages>
				</div>
			</core-scaffold>

	</body>
</html>