<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>Task Manager</title>

		<link rel="import" href="imports.html">

		<script src="js/base.js"></script>
		<script src="js/deps.js"></script>
		<script src="js/boot.js"></script>

		<link rel="stylesheet" href="css/style.css">
	</head>
	<body unresolved fullbleed layout vertical>

		  <div class="load-overlay">
				<div class="loader">
					<md-progress-circular class="fix" md-mode="indeterminate"></md-progress-circular>
					<span>Carregando</span>
				</div>
		  </div>

		<core-scaffold>
			<core-header-panel navigation flex mode="seamed">
				<core-toolbar class="core-toolbar-style">Menu</core-toolbar>
				<core-menu></core-menu>
			</core-header-panel>
			<div tool>
				<span id="activePageTitle"></span>
				<div class="paper-icon-group right">
					<paper-icon-button icon="add" ng-click="createTicket()"></paper-icon-button>
					<paper-icon-button icon="filter-list" ng-click="toggleFilterForm()"></paper-icon-button>
				</div>
			</div>

			<div fit>
				<paper-toast text="" duration="7000" autoCloseDisabled="true" ng-click="discardDraft($event)">
				<!-- <div style="color: yellow;">desfazer</div> -->
				</paper-toast>

				<!-- <paper-fab icon="add"></paper-fab> -->

				<core-animated-pages transitions="cross-fade">

				<section id="page1">
					<div class="container" flex cross-fade>
				</section>

				<section id="page2">
					<div class="container" flex cross-fade>
				</section>

				<section id="page3">
					<div class="container" flex cross-fade>
				</section>

				<section id="page4">
				<div class="container" flex cross-fade>
				</section>

				<section id="page5">
				<div class="container" flex cross-fade>
				</section>

				<section id='page6'>
				<div class="container" flex cross-fade>
				</section>

				<section id="page7">
					<div class="container" cross-fade>
						<card flex ng-repeat="notification in notifications | orderBy: '-time':false">
							<card-body>
							<p>{{notification.note}} por {{notification.owner}} - <span class="text-muted">{{notification.time | date: 'HH:mm' }} em {{notification.time | date: 'dd/MM/yyyy'}}</span></p>
							</card-body>
						</card>
					</div>
				</section>

				</core-animated-pages>
				</div>
			</core-scaffold>
	</body>
</html>